In [9]:
import csv

In [10]:
with open('data/seating.csv','r+') as file:
    reader=csv.reader(file)
    for i in reader:
        
        print(i[2])

Rolls
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0

In [91]:
import pandas as pd

In [92]:
df = pd.read_csv("data/seating.csv",index_col=False)
df = df.drop(['Unnamed: 0'],axis=1)

In [93]:
df.head()

  Branch  Rolls
0    cse      0
1    ece      0
2     it      0
3    cse      0
4    ece      0

In [94]:
df['Rolls'].where(df['Branch']=='cse').dropna().iloc[0:1]

0    0.0
Name: Rolls, dtype: float64

In [95]:
df.head()

  Branch  Rolls
0    cse      0
1    ece      0
2     it      0
3    cse      0
4    ece      0

In [15]:
seating_lst = ['cse', 'ece', 'it', 'cse', 'ece', 'it', 'cse', 'ece',
       'it', 'cse', 'ece', 'it', 'cse', 'ece', 'it', 'cse',
       'ece', 'it', 'cse', 'ece', 'it', 'cse', 'ece', 'it',
       'cse', 'ece', 'it', 'cse', 'ece', 'it', 'cse', 'ece',
       'it', 'cse', 'ece', 'it', 'cse', 'ece', 'it', 'cse',
       'ece', 'it', 'cse', 'ece', 'it', 'cse', 'ece', 'it',
       'cse', 'ece', 'it', 'cse', 'ece', 'it', 'cse', 'ece',
       'it', 'cse', 'ece', 'it', 'cse', 'ece', 'it', 'cse',
       'ece', 'it', 'cse', 'ece', 'it', 'cse', 'ece', 'it',
       'cse', 'ece', 'it', 'cse', 'ece', 'it', 'cse', 'ece',
       'it', 'cse', 'ece', 'it', 'cse', 'ece', 'it', 'cse',
       'ece', 'it', 'cse', 'ece', 'mech', 'cse', 'ece', 'mech',
       'cse', 'ece', 'mech', 'cse', 'ece', 'aie', 'cse', 'aie',
       'mech', 'cse', 'aie', 'mech', 'cse', 'aie', 'mech', 'cse',
       'aie', 'mech', 'cse', 'aie', 'mech', 'cse', 'aie', 'mech',
       'cse', 'aie', 'mech', 'cse', 'aie', 'mech', 'cse', 'aie',
       'mech', 'cse', 'aie', 'mech', 'cse', 'aie', 'mech', 'cse',
       'aie', 'mech', 'cse', 'aie', 'mech', 'cse', 'aie', 'mech',
       'cse', 'aie', 'mech', 'cse', 'aie', 'cse ds', 'cse', 'aie',
       'cse ds', 'cse', 'aie', 'cse ds', 'cse', 'aie', 'cse ds',
       'cse', 'aie', 'cse ds', 'cse', 'aie', 'cse ds', 'cse',
       'aie', 'cse ds', 'cse', 'aie', 'cse ds', 'cse', 'aie',
       'cse ds', 'cse', 'aie', 'cse ds', 'cse', 'aie', 'cse ds',
       'cse', 'aie', 'cse ds', 'cse', 'aie', 'cse ds', 'cse',
       'aie', 'cse ds', 'cse', 'aie', 'eee', 'aie', 'ece', 'aie',
       'eee', 'ece', 'aie', 'eee', 'ece', 'aie', 'eee', 'ece',
       'aie', 'eee', 'ece', 'aie', 'eee', 'ece', 'aie', 'eee',
       'ece', 'aie', 'eee', 'ece', 'aie', 'eee', 'ece', 'aie',
       'civil', 'ece', 'aie', 'civil', 'ece', 'aie', 'civil',
       'ece', 'aie', 'civil', 'ece', 'aie', 'it', 'ece', 'it',
       'civil', 'ece', 'it', '']

df1 = pd.DataFrame(data={"Branch":seating_lst,"Rolls":['empty']*len(seating_lst)})
df1.to_csv("final.csv",index=False)

In [139]:
df1

    Branch  Rolls
0      cse  empty
1      ece  empty
2       it  empty
3      cse  empty
4      ece  empty
..     ...    ...
233     it  empty
234  civil  empty
235    ece  empty
236     it  empty
237         empty

[238 rows x 2 columns]

In [125]:
df1=pd.read_csv("final.csv")
if "Unnamed: 0" in list(df1.columns):
    df1 = df1.drop(['Unnamed: 0'],axis=1)
df=pd.read_csv("data/data.csv")

In [135]:
dic = {
    "id":"19911A3518",
    "Branch" : "AIE"
}


df1=pd.read_csv("finalcopy.csv")
if "Unnamed: 0" in list(df1.columns):
    df1 = df1.drop(['Unnamed: 0'],axis=1)
df=pd.read_csv("data/data.csv")



if dic["id"] in list(df["Roll Number"]):
    if dic["id"] not in list(df1["Rolls"]):
        if "empty" not in list(df1[df1['Branch']==dic["Branch"].lower()]['Rolls']):
                print(dic["Branch"],"is full")
        else:
            for i in list(df1.index[df1['Branch']==dic["Branch"].lower()]):

                if df1["Rolls"][i] == "empty":
                    df1["Rolls"][i] = dic["id"]
                    print(i)
                    break
    else:
        print("YOU HECK, DON'T FK***n MESS WITH ME. Your seat:",list(df1.index[df1["Rolls"]==dic["id"]])[0])
else:
    print("FK***n GO!@")
df1.to_csv("final2.csv",index=False)

FK***n GO!@

In [2]:
import pandas as pd

In [6]:
seating_ids = ['a1', 'a2', 'a3', 'a4', 'a5', 'a6', 'a7', 'a8', 'a9', 'a10', 'a11', 'a12', 'a13', 'a14', 'a15', 'a16', 'a17', 'a18', 'b1', 'b2', 'b3', 'b4', 'b5', 'b6', 'b7', 'b8', 'b9', 'b10', 'b11', 'b12', 'b13', 'b14', 'b15', 'b16', 'b17', 'b18', 'c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10', 'c11', 'c12', 'c13', 'c14', 'c15', 'c16', 'c17', 'd1', 'd2', 'd3', 'd4', 'd5', 'd6', 'd7', 'd8', 'd9', 'd10', 'd11', 'd12', 'd13', 'd14', 'd15', 'd16', 'd17', 'e1', 'e2', 'e3', 'e4', 'e5', 'e6', 'e7', 'e8', 'e9', 'e10', 'e11', 'e12', 'e13', 'e14', 'e15', 'e16', 'e17', 'e18', 'f1', 'f2', 'f3', 'f4', 'f5', 'f6', 'f7', 'f8', 'f9', 'f10', 'f11', 'f12', 'f13', 'f14', 'f15', 'f16', 'f17', 'f18', 'g1', 'g2', 'g3', 'g4', 'g5', 'g6', 'g7', 'g8', 'g9', 'g10', 'g11', 'g12', 'g13', 'g14', 'g15', 'g16', 'g17', 'g18', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'h7', 'h8', 'h9', 'h10', 'h11', 'h12', 'h13', 'h14', 'h15', 'h16', 'h17', 'h18', 'i1', 'i2', 'i3', 'i4', 'i5', 'i6', 'i7', 'i8', 'i9', 'i10', 'i11', 'i12', 'i13', 'i14', 'i15', 'i16', 'i17', 'i18', 'j1', 'j2', 'j3', 'j4', 'j5', 'j6', 'j7', 'j8', 'j9', 'j10', 'j11', 'j12', 'j13', 'j14', 'j15', 'j16', 'j17', 'j18', 'k1', 'k2', 'k3', 'k4', 'k5', 'k6', 'k7', 'k8', 'k9', 'k10', 'k11', 'k12', 'k13', 'k14', 'k15', 'k16', 'k17', 'k18', 'l1', 'l2', 'l3', 'l4', 'l5', 'l6', 'l7', 'l8', 'l9', 'l10', 'l11', 'l12', 'l13', 'l14', 'l15', 'l16', 'm1', 'm2', 'm3', 'm4', 'm5', 'm6', 'm7', 'm8', 'm9', 'm10', 'm11', 'm12', 'm13', 'm14', 'm15', 'm16', 'm17', 'm18', 'm19', 'm20']

In [14]:
import pandas as pd
df1=pd.read_csv("finalcopy.csv")

print(seating_ids)
print(list(df1["Rolls"]))
print(list(df1["Branch"]))

['a1', 'a2', 'a3', 'a4', 'a5', 'a6', 'a7', 'a8', 'a9', 'a10', 'a11', 'a12', 'a13', 'a14', 'a15', 'a16', 'a17', 'a18', 'b1', 'b2', 'b3', 'b4', 'b5', 'b6', 'b7', 'b8', 'b9', 'b10', 'b11', 'b12', 'b13', 'b14', 'b15', 'b16', 'b17', 'b18', 'c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10', 'c11', 'c12', 'c13', 'c14', 'c15', 'c16', 'c17', 'd1', 'd2', 'd3', 'd4', 'd5', 'd6', 'd7', 'd8', 'd9', 'd10', 'd11', 'd12', 'd13', 'd14', 'd15', 'd16', 'd17', 'e1', 'e2', 'e3', 'e4', 'e5', 'e6', 'e7', 'e8', 'e9', 'e10', 'e11', 'e12', 'e13', 'e14', 'e15', 'e16', 'e17', 'e18', 'f1', 'f2', 'f3', 'f4', 'f5', 'f6', 'f7', 'f8', 'f9', 'f10', 'f11', 'f12', 'f13', 'f14', 'f15', 'f16', 'f17', 'f18', 'g1', 'g2', 'g3', 'g4', 'g5', 'g6', 'g7', 'g8', 'g9', 'g10', 'g11', 'g12', 'g13', 'g14', 'g15', 'g16', 'g17', 'g18', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'h7', 'h8', 'h9', 'h10', 'h11', 'h12', 'h13', 'h14', 'h15', 'h16', 'h17', 'h18', 'i1', 'i2', 'i3', 'i4', 'i5', 'i6', 'i7', 'i8', 'i9', 'i10', 'i11', 'i12', 'i13', 'i14', 'i15', 'i16', 'i17', 'i18', 'j1', 'j2', 'j3', 'j4', 'j5', 'j6', 'j7', 'j8', 'j9', 'j10', 'j11', 'j12', 'j13', 'j14', 'j15', 'j16', 'j17', 'j18', 'k1', 'k2', 'k3', 'k4', 'k5', 'k6', 'k7', 'k8', 'k9', 'k10', 'k11', 'k12', 'k13', 'k14', 'k15', 'k16', 'k17', 'k18', 'l1', 'l2', 'l3', 'l4', 'l5', 'l6', 'l7', 'l8', 'l9', 'l10', 'l11', 'l12', 'l13', 'l14', 'l15', 'l16', 'm1', 'm2', 'm3', 'm4', 'm5', 'm6', 'm7', 'm8', 'm9', 'm10', 'm11', 'm12', 'm13', 'm14', 'm15', 'm16', 'm17', 'm18', 'm19', 'm20']
['123', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', '19911A3542', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty']
['cse', 'ece', 'it', 'cse', 'ece', 'it', 'cse', 'ece', 'it', 'cse', 'ece', 'it', 'cse', 'ece', 'it', 'cse', 'ece', 'it', 'cse', 'ece', 'it', 'cse', 'ece', 'it', 'cse', 'ece', 'it', 'cse', 'ece', 'it', 'cse', 'ece', 'it', 'cse', 'ece', 'it', 'cse', 'ece', 'it', 'cse', 'ece', 'it', 'cse', 'ece', 'it', 'cse', 'ece', 'it', 'cse', 'ece', 'it', 'cse', 'ece', 'it', 'cse', 'ece', 'it', 'cse', 'ece', 'it', 'cse', 'ece', 'it', 'cse', 'ece', 'it', 'cse', 'ece', 'it', 'cse', 'ece', 'it', 'cse', 'ece', 'it', 'cse', 'ece', 'it', 'cse', 'ece', 'it', 'cse', 'ece', 'it', 'cse', 'ece', 'it', 'cse', 'ece', 'it', 'cse', 'ece', 'mech', 'cse', 'ece', 'mech', 'cse', 'ece', 'mech', 'cse', 'ece', 'aie', 'cse', 'aie', 'mech', 'cse', 'aie', 'mech', 'cse', 'aie', 'mech', 'cse', 'aie', 'mech', 'cse', 'aie', 'mech', 'cse', 'aie', 'mech', 'cse', 'aie', 'mech', 'cse', 'aie', 'mech', 'cse', 'aie', 'mech', 'cse', 'aie', 'mech', 'cse', 'aie', 'mech', 'cse', 'aie', 'mech', 'cse', 'aie', 'mech', 'cse', 'aie', 'mech', 'cse', 'aie', 'mech', 'cse', 'aie', 'cse ds', 'cse', 'aie', 'cse ds', 'cse', 'aie', 'cse ds', 'cse', 'aie', 'cse ds', 'cse', 'aie', 'cse ds', 'cse', 'aie', 'cse ds', 'cse', 'aie', 'cse ds', 'cse', 'aie', 'cse ds', 'cse', 'aie', 'cse ds', 'cse', 'aie', 'cse ds', 'cse', 'aie', 'cse ds', 'cse', 'aie', 'cse ds', 'cse', 'aie', 'cse ds', 'cse', 'aie', 'cse ds', 'cse', 'aie', 'eee', 'aie', 'ece', 'aie', 'eee', 'ece', 'aie', 'eee', 'ece', 'aie', 'eee', 'ece', 'aie', 'eee', 'ece', 'aie', 'eee', 'ece', 'aie', 'eee', 'ece', 'aie', 'eee', 'ece', 'aie', 'eee', 'ece', 'aie', 'civil', 'ece', 'aie', 'civil', 'ece', 'aie', 'civil', 'ece', 'aie', 'civil', 'ece', 'aie', 'civil']

In [27]:
df1.iloc[seats]["Branch"]

0      cse
142    aie
Name: Branch, dtype: object

In [28]:
df1.iloc[seats]["Rolls"]

0             123
142    19911A3542
Name: Rolls, dtype: object

In [ ]:
dic = {
    "id":"19911A3518",
    "Branch" : "AIE"
}


df1=pd.read_csv("final.csv")
if "Unnamed: 0" in list(df1.columns):
    df1 = df1.drop(['Unnamed: 0'],axis=1)



if dic["id"] not in list(df1["Rolls"]):
    if "empty" not in list(df1[df1['Branch']==dic["Branch"].lower()]['Rolls']):
            print(dic["Branch"],"is full")
    else:
        sub = df1[df1['Branch']==dic["Branch"].lower()]
        lsts = list(sub[sub["Rolls"]=="0"].index.values)
        k = random.randrange(0,len(lsts))
        df1.iloc[lsts[k]]["Rolls"] = dic["id"]
        i=lsts[k]
        print(i)
else:
    print("YOU HECK, DON'T FK***n MESS WITH ME. Your seat:",list(df1.index[df1["Rolls"]==dic["id"]])[0])

df1.to_csv("final2.csv",index=False)